<div>
    <mat-card>
        <mat-card-subtitle>
            Total entries:
        </mat-card-subtitle>
        <mat-card-content [@fadeIn]="total">
            {{(total$ | async).total ? (total$ | async).total : '---'}}
        </mat-card-content>
    </mat-card>
</div>
<div>
    <mat-card>
        <mat-card-subtitle>
            Average rating
        </mat-card-subtitle>
        <mat-card-content [@fadeIn]="average">
            {{((total$ | async).average ? (total$ | async).average : 0) | number}}
        </mat-card-content>
    </mat-card>
</div>