<mat-card class="example-card">
    <div class="login-field">
        <mat-card-title *ngIf="state.error">
            {{state.error}}
        </mat-card-title>
    </div>
    <div class="login-field">
        <mat-form-field color="accent">
            <input type="text" [(ngModel)]="username" matInput placeholder="Username">
        </mat-form-field>
    </div>
    <div class="login-field">
        <mat-form-field color="accent">
            <input type="password" matInput placeholder="Password">
        </mat-form-field>
    </div>
    <button class="login-button" color="primary" mat-raised-button (keydown.enter)="onLogin()" (click)="onLogin()">Login</button>
</mat-card>