:host {
    display: flex;
    height: 70vh;
    
    & mat-card {
        margin: auto;
        padding: 2rem;
    }
}

.login-button {
    width: 100%;
    position: relative;
}

mat-card-title {
    color: red;
    font-family: Fira Code;
    text-align: center;
    border-bottom: 2px solid;
}