nav {
  height: calc(3rem + 10vh);
  display: flex;
  background: url(https://escado.github.io/img/bg.jpeg);
  background-color: #575761;
  filter: drop-shadow(0.1rem 0.1rem 0.1rem rgb(7, 7, 7));

  & div {
    filter: drop-shadow(0.1rem 0.1rem 0.1rem black);
    color: whitesmoke;
  }

  & .logo {
    margin: auto auto auto 15rem;
  }

  & .user-info {
    margin: auto 10rem auto auto;
    display: flex;

    & div {
      width: 100%;
      margin: auto;
      padding-left: 5rem;

      & button {
        padding-left: 1rem;
        width: 100%;
      }
    }
  }


  & span {
    margin: auto 0 auto 10vw;
  }
}
